=link_to(collection_path(collection), :remote => true, :method => :get , :class => "collection-name", :id => "collection-list-item-#{collection.id}" ) do 
  .chevron
    »

  .collection-box
    =collection.name
