-if can? :create, Collection
  #create-new=link_to 'New Collection', new_collection_path 

-if @collections.count > 0 
  -@collections.each do |collection| 
    =render :partial => 'collections/list_item', :locals => { :collection => collection }
        
