%h1 Collections

-if can? :create, Collection
  #create-new=link_to 'New Collection', new_collection_path 

-if @collections.count > 0 
  -@collections.each do |collection| 
    .collection-name
      =collection.name
      =link_to 'Edit', edit_collection_path(collection) if can? :edit, collection
      =link_to 'Destroy', collection, :method => :delete, :confirm => 'Are you sure?' if can? :destroy, collection 

    %ul.collection-list
      -collection.fossils.each_with_index do |fossil, index| 
        %li{:class => "collection-items #{ "highlight" if @last_fossil == fossil }"}= render "fossils/list_item", :fossil => fossil 
        -if ((index+1) % 4) == 0
          #clear 
      #clear  
      .newfile=link_to 'New File', { :controller => 'fossils', :action => 'new', :collection_id => collection.id } if can?(:create, Fossil) && current_user.can_upload_collections.include?(collection)
        
-else
  %h2 No Collections are visible. 
  -unless user_signed_in? 
    Try logging in: 
    =form_for("user", :url => user_session_path) do |f| 
      %p 
        =f.label :login 
        %br 
        =f.text_field :login 
  
      %p 
        =f.label :password 
        %br
        =f.password_field :password 
    
      %p= f.submit "Sign in"
