html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

#header {
	background-color: #000;
	color: #fffeff;
	padding: 5px 0 0;
	margin: 0;
	height: 33px;
}


#header a {
	color: #fffeff;
	text-decoration: none;
	background-color: #525252;
}


#meta {
}

#indexes {
	padding-right: 10px;
	padding-left: 10px;
}

#indexes a, #meta li a, #indexes .current {
	padding: 0.5em 1em;
	float: left;
	margin-right: 5px;
		border-bottom-style: solid;
	border-bottom-color: #000;

}

#indexes .current {
	font-weight: bold;

}

#indexes a:hover, #meta li a:hover, #indexes .current {
	background-color: #6b6b6b;
	border-bottom-style: solid;
	border-bottom-color: #737373;
}


#meta li {
	list-style-type: none;
	float: right;
}

#main-container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	width: 960px;
}




body { background-color: #fff;
	margin: 0;
	padding: 0;
}

body, p, ol, ul, td {
  font-family: baskerville, georgia, serif;
  font-size:   13px;
  line-height: 18px;
	word-spacing: 3px;
	letter-spacing: 0.07pc;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.collection-name {
  background-color: #EEEEEE ;
  padding: 3px 10px ;
  text-transform: capitalize;
  font-weight: bold;
}

.collection-items {
  margin-bottom: 1em;
}

.collection-item-edit, .collection-item-edit a {
  font-size: 9pt;
  color: #AAAAAA;
}

.collection-edit {
  vertical-align: top;
  font-size: 9pt;

}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.notice {
	margin-top: 7px;
	margin-bottom: 0;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

#clear {
	clear: both;
}
