=form_for [@collection, @fossil], :html => { :multipart => true } do |f| 
  -if @fossil.errors.any? 
    #error_explanation
      %h2
        =pluralize(@fossil.errors.count, "error") 
        prohibited this file from being saved:
        
      %ul
        -@fossil.errors.full_messages.each do |msg| 
          %li=msg

  .field
    =f.label :name 
    %br 
    =f.text_field :name
    
  .field
    =f.label :description
    %br 
    =f.text_area :description
    
  .field
    =f.label :collection 
    %br
    =f.select :collection_id, options_for_select(current_user.can_upload_collections.collect{|n| [n.name, n.id] }, ( @fossil.id ? @fossil.collection.id : params[:collection_id] ))

  .field
    =f.label :attachment
    %br 
    =f.file_field :attachment
    
  .field
    =f.label :date_available_from 
    %br 
    =f.date_select :date_available_from
    
  .field
    =f.label :date_available_to 
    %br 
    =f.date_select :date_available_to
    
  .actions=f.submit 
