%strong=fossil.name 
–
= fossil.description
%br
=link_to "Download #{fossil.attachment_file_name}", fossil.attachment.url
–
=fossil.attachment_file_size 
==Bytes (#{fossil.attachment_content_type})
%br

-if can? :update, fossil
  .collection-item-edit
    =link_to 'Edit', edit_collection_fossil_path(fossil.collection, fossil) 
  
    -if can? :destroy, fossil 
      =link_to 'Destroy', [fossil.collection, fossil], :confirm => 'Are you sure?', :method => :delete  
