<h1>Listing fossils</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Attachment</th>
    <th>Date available from</th>
    <th>Date available to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fossils.each do |fossil| %>
  <% if can? :read, fossil %>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Fossil', new_fossil_path %>
