#maker
  %h3="Made by" 
  %a{:href => "mailto:matthew.kerr@me.com"}="Matthew Kerr"

#trouble
  %h3="Troubles?" 
  .option
    %a{:href => "http://twitter.com/share?url=http://tarpit.flyingnun.co.nz#{request.fullpath}&text=Trouble at the mill: write what happened here... \n", :title=>"Tweet the trouble"}="Send a tweet"
    %span=" (Best)"
  
  .option
    %a{:href => "mailto:matthew.kerr@me.com", :title=>"or write an email"}="Send an e-mail"
#clear
