<!DOCTYPE html>
%html
  %head
    %title
      Tarpit
    
    =stylesheet_link_tag :all 
    =javascript_include_tag :defaults 
    =csrf_meta_tag 
  %body
    %ul#indexes
      %li
        =link_to_unless_current 'Collections', collections_path do  
          %span.current
            Collections
      
      -if can? :read, User
        %li
          =link_to_unless_current 'Users', users_path do
            %span.current
              Users
              
      %li.notice=notice if notice
    
      %li.alert=alert if alert
                          
      %ul#meta
        =render 'devise/menu/registration_items'
        =render 'devise/menu/login_items'
    
    #main-container
      =yield
    
      #footer-container
        #footer
          =render 'common/footer'